
<<include colors_fonts_patterns.conf>>

<<include ideogram.conf>>
<<include ticks.conf>>

<image>
file* = iwgc_circos.png

# override angle_offset defined in etc/image.conf 
angle_offset* = -84

<<include etc/image.conf>>
</image>

karyotype   = iwgc_circos_data/*karyotype.circos

chromosomes_units           = 1000000
chromosomes_display_default = no
chromosomes                 = ${chrs}
#chromosomes_breaks          = -chr1A:120-140

#chromosomes_reverse =     # Flips chrs in karyotype and all tracks, useful for untwisting links or comparing subgenome patterns



<plots>


<plot>
# Labels #
type                            = text
file                            = iwgc_circos_data/*_labels.txt
r1                              = 1.3r
r0                              = 1.05r

show_links                      = yes
link_dims                       = 4p,4p,8p,4p,4p
link_thickness                  = 6p
link_color                      = purple
label_size                      = 20p
padding                         = 0.5p
rpadding                        = 2p
label_snuggle                   = yes

# shift label up to 2x its height in pixels in the angular direction
max_snuggle_distance            = 1r

# sample possible label positions every 2 pixels
snuggle_sampling                = 2
snuggle_tolerance               = 0.25r
snuggle_link_overlap_test      = yes 
snuggle_link_overlap_tolerance = 1p
snuggle_refine                 = yes

</plot>


<plot>
# Highlights #
type = highlight
file = iwgc_circos_data/*_highlights.txt
r0 = dims(ideogram,radius_inner)
r1 = dims(ideogram,radius_outer)
z    = 10
fill_color  = eval(var(color))
stroke_color = eval(var(color))

</plot>


<plot>

#genic base pair coverage heatmap
type    = heatmap
file    = iwgc_circos_data/*_gene_coverage.circos
r1      = 0.98r
r0      = 0.94r
max = 1
min = 0
color   = ylgnbu-9-seq

</plot>


<plot>

#TE density heatmap
type      = heatmap
file      = iwgc_circos_data/*_repeat_coverage.circos
r1        = 0.93r
r0        = 0.89r
max = 1
min = 0
color = ylorrd-9-seq

</plot>


<plot>

#LTR Dating heatmap
type      = heatmap
file      = iwgc_circos_data/*_LTRdating_coverage.circos
r1        = 0.88r
r0        = 0.84r
max = 2
min = 1
color = purples-7-seq

<rules>
<rule>
condition        = eval(var(value) == 0)
fill_color       = white
stroke_thickness = 0
</rule>
</rules>

</plot>


# LTR Histogram Tracks #
<plot>
# Gypsy coverage
type = histogram
file = iwgc_circos_data/*_Gypsy_intactTE_coverage.circos

r1 = 0.82r
r0 = 0.78r
max = 1
min = 0

fill_color  = dred
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = lgrey
</background>
</backgrounds>
</plot>


<plot>
# Copia coverage
type = histogram
file = iwgc_circos_data/*_Copia_intactTE_coverage.circos

r1 = 0.77r
r0 = 0.73r
max = 1
min = 0

fill_color  = orange
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = lgrey
</background>
</backgrounds>
</plot>


<plot>
# Unknown coverage
type = histogram
file = iwgc_circos_data/*_unknown_intactTE_coverage.circos

r1 = 0.72r
r0 = 0.68r
max = 1
min = 0

fill_color  = vdyellow
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = lgrey
</background>
</backgrounds>
</plot>




# DNA-transoposon histogram tracks #
<plot>
# DTA coverage
type = histogram
file = iwgc_circos_data/*_DTA_intactTE_coverage.circos

r1 = 0.66r
r0 = 0.62r
max = 1
min = 0

fill_color  = dgreen
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = vlgrey
</background>
</backgrounds>
</plot>


<plot>
# DTC coverage
type = histogram
file = iwgc_circos_data/*_DTC_intactTE_coverage.circos

r1 = 0.61r
r0 = 0.57r
max = 1
min = 0

fill_color  = lgreen
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = vlgrey
</background>
</backgrounds>
</plot>


<plot>
# DTH coverage
type = histogram
file = iwgc_circos_data/*_DTH_intactTE_coverage.circos

r1 = 0.56r
r0 = 0.52r
max = 1
min = 0

fill_color  = dblue
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = vlgrey
</background>
</backgrounds>
</plot>


<plot>
# DTM coverage
type = histogram
file = iwgc_circos_data/*_DTM_intactTE_coverage.circos

r1 = 0.51r
r0 = 0.47r
max = 1
min = 0

fill_color  = lblue
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = vlgrey
</background>
</backgrounds>
</plot>


<plot>
# DTT coverage
type = histogram
file = iwgc_circos_data/*_DTT_intactTE_coverage.circos

r1 = 0.46r
r0 = 0.42r
max = 1
min = 0

fill_color  = dpurple
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = vlgrey
</background>
</backgrounds>
</plot>


<plot>
# Helitron coverage
type = histogram
file = iwgc_circos_data/*_Helitron_intactTE_coverage.circos

r1 = 0.41r
r0 = 0.37r
max = 1
min = 0

fill_color  = lpurple
stroke_type = outline
thickness   = 1
extend_bin  = no

<backgrounds>
<background>
color = vlgrey
</background>
</backgrounds>
</plot>



<plot>

# GC Content #
type      = line
file      = iwgc_circos_data/*_gc.circos

r1        = 0.35r
r0        = 0.31r
max       = 1
min       = 0
thickness   = 3
color       = vdgreen

<backgrounds>
<background>
color = vvlgrey
</background>
</backgrounds>

<axes>
<axis>
spacing   = 0.1r
color     = lgrey
thickness = 2
</axis>
</axes>

</plot>



</plots>




# Syntenic Links #
<links>

radius               = 0.305r
crest                = 1
ribbon               = yes
flat                 = yes
stroke_color         = dblue
stroke_thickness     = 2
color                = dblue
bezier_radius        = 0r
bezier_radius_purity = 0.5

<link>
file       = iwgc_circos_data/*_links.circos

<rules>
flow       = continue

<rule>
condition  = var(intrachr) # comment out whole rule block to show all links, or change to interchr for intra only
show       = no
</rule>

<rule>
condition  = max(var(size1),var(size2)) < 20kb
show       = no
</rule>

#<rule>
#condition  = 1
#z          = eval(int(max(var(size1),var(size2))/5000))
#</rule>

<rule>
condition    = var(size1) > 50000 && var(size2) > 50000
color        = lgreen
stroke_color = dgreen
</rule>

<rule>
condition    = var(size1) > 100000 && var(size2) > 100000
color        = dyellow
stroke_color = vdyellow
</rule>

<rule>
condition    = var(size1) > 200000 && var(size2) > 200000
color        = orange
stroke_color = dorange
</rule>

<rule>
condition    = var(size1) > 1000000 && var(size2) > 1000000
color        = dred
stroke_color = vdred
</rule>
</rules>

</link>

</links>




<fonts>

#default = fonts/modern/cmunsx.otf
default = fonts/ArialBold.ttf

</fonts>


<<include etc/housekeeping.conf>>
